/* swagger ui customization */
.swagger-section #header {
    background-position-x: 250px;
    background-position-y: 15px;
    height: 55px;
}

.swagger-ui .topbar {
    background-color: #333333 !important;
}

.topbar-wrapper .link img,
.swagger-ui .info .title small.version-stamp,
.swagger-ui .scheme-container {
    display: none;
}

.swagger-ui .topbar .download-url-wrapper,
.swagger-ui .info hgroup.main a,
.swagger-ui .info > div {
    display: none !important;
}

.topbar-wrapper .link:after {
    content: url("../../../img/logo.png");
}


